@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-blue { 
background: #293B96;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.siderbar-text {
  color: #A7ADC8;
}
